@mixin three-box-colors($names, $colors) {
    @for $i from 1 through length($names) {
        $name: nth($names, $i);
        $color: nth($colors , $i );

        .#{$name}-box {
            background-color: $color;
        }
    }
}